{% import 'fxc/map.jinja' as fxc_root with context %}
{% set broker = salt['grains.filter_by']({
    'default': {
        'service_name': 'fxcbroker',
        'install_dir': fxc_root.fxc.base_dir ~ '/broker',
        'ofx_http_host': '0.0.0.0',
        'ofx_http_port': 8082,
        'ofx_broker_id': 'FXC-BROKER',
        'ofx_http_threads': 4,
        'account_issuer': '000000000',
        'account_issue_shares': 1000000,
        'account_mm_shares': 500000,
        'account_dev': '000000001',
        'account_dev2': '000000002',
        'account_seed_cash': 1000000,
        'account_seed_symbol': 'ACME',
        'account_seed_share_price': '42.00',
        'account_open_enabled': true,
        'account_open_first': 100000,
        'account_open_number_width': 9,
        'account_open_seed_cash': 100000,
        'account_open_seed_shares': 0,
        'pnl_internal_accounts_below': 100,
        'pnl_window_ms': 900000,
        'pnl_max_points_per_account': 600,
        'pnl_group_size': 5,
        'pnl_max_retained_points': 5000,
        'web_enabled': true,
        'web_http_port': 8083,
        'web_controls_enabled': true,
        'exchange_host': 'localhost',
        'exchange_fix_port': 9876,
        'pub_host': 'localhost',
        'pub_fix_port': 9878,
        'xmpp_host': 'localhost',
        'xmpp_port': 5222,
        'xmpp_domain': 'fxc.local',
        'gridgain_instance_name': 'fxc-broker',
        'artifact_url': None,
        'artifact_sha256': None,
    },
}, merge=salt['pillar.get']('fxc:broker', {})) %}
